<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    {% comment %}
    {% assign js = resources.Get "js/build.js" %}
    <script src="{% js.url %}"></script>{% endcomment %}


     <link rel="stylesheet" href="/theme.css" /> 
  <link rel="stylesheet" href="/assets/style.css" /> 
  <link rel="stylesheet" href="css/bookshop.css" /> 

 


      <style>
/* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
#map_canvas {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
</style><script src="/plugins/modernizr.min.js"> </script>

    <title>{{ title }} | {{ site.SEO_options.site_title }}</title>



    <link rel="icon"
      type="image/x-icon"
      href="{{ site.favicon }}">



    {% comment %}  Add the description meta tags {% endcomment %}
    {% if page.url == "/" %}
      <meta name="description" content="{{ site.SEO_options.description }}" />
    {% else %}
      <meta name="description" content="{{ page.SEO_options.description }}" />
    {% endif %}


    {% comment %}  Add canonical link meta tags  {% endcomment %}
    {% if page.SEO_options.canonical_link == true %}
      <link rel="canonical" href="{{ page.SEO_options.canonical_link }}" />
    {% else %}
      <link rel="canonical" href="{{ page.url }}" />
    {% endif %}


    {% comment %}  Meta tags - these can be set in seo options block of the site.json file or inside each page  {% endcomment %}
    {% if page.url == "/" %}
      <meta name="og:title" content="{{ site.SEO_options.site_title }}" />
      <meta property="og:type" content="website" />
      <meta property="og:description" content="{{ site.SEO_options.description }}" />
      <meta property="og:url" content="{{ site.BaseURL }}" />
      <meta name="og:image" content="{{ site.SEO_options.image }}" />
      <meta name="twitter:creator" content="{{ site.SEO_options.twitter_site }}" />
      <meta name="twitter:title" content="{{ site.SEO_options.site_title }}" />
      {% if site.SEO_options.twitter_image == true %}
        <meta name="twitter:image" content="{{ site.SEO_options.twitter_image }}" />
      {% else %}
        <meta name="twitter:image" content="{{ site.SEO_options.image }}" />
      {% endif %}
    {% else %}
      <meta name="og:title" content="{{ site.title }}" />
      {% if page.SEO_options.og_type == true %}
        <meta property="og:type" content="{{ page.SEO_options.og_type }}" />
      {% else %}
        <meta property="og:type" content="website" />
      {% endif %}



      <meta property="og:description" content="{{ page.SEO_options.description }}" />
      <meta property="og:url" content="{{ page.url }}" />

      {% if page.SEO_options.featured_image == true %}
        <meta name="og:image/" content="{{ page.SEO_options.featured_image }}" />
        <meta name="twitter:image" content="{{ page.SEO_options.featured_image }}" />
      {% else %}
        <meta name="og:image" content="{{ site.SEO_options.image }}" />
        {% if site.SEO_options.twitter_image == true %}
          <meta name="twitter:image" content="{{ site.SEO_options.twitter_image }}" />
        {% else %}
          <meta name="twitter:image" content="{{ site.SEO_options.image }}" />
        {% endif %}
      {% endif %}

      <meta name="twitter:title" content="{{ site.title }}" />{% endif %}
</head>